@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
}

.right-align {
  text-align: right;
}

/* a:link {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
}

a:active {
  color: red;
} */

.bodyMargin {
	margin: 10px;
}

.totalWidth {
  width: 1200px;
}

.btnMargin {
	margin: 5px;
	padding: 5px;
}
.inputMargin {
	margin: 0px;
}
