
<style>
* {
	font-family: "Noto Sans KR","Malgun Gothic","맑은고딕",helvetica,arial,sans-serif,"돋움",Dotum,"굴림",Gulim,HelveticaDotum;
}
body, table, input, textarea, button {
	letter-spacing: 0px;
}
body, div, ul, ul li, p, ol, ol li, li, dl, dl dt, dl dd, h1, h2, h3, h4, h5, h6, form, fieldset, button {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
.article_wrap .article_contents {
	font-size: 15px;
	line-height: 25px;
	color: #777;
	text-align: justify;
}
#subWrap .contents {
	width: 804px;
	min-height: 800px;
	padding: 30px 0 40px 66px;
}
#subWrap .contents {
	padding-bottom: 60px;
}
#subWrap {
	position: relative;
	width: 1090px;
	height: 100%;
	margin: 0 auto;
	*zoom:1: ;
}
#wrap {
	z-index: 2;
	position: relative;
	min-width: 1090px;
}
body {
	min-width: 1090px;
	height: 100%;
	color: #232323;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}
html {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #FFF;
}

body, html {
	margin: 0;
	padding: 0;
}
.article_wrap .article_contents h2 {
	display: block;
	line-height: 1;
	color: #232323;
	padding-bottom: 3px;
}
#wrap h2 {
	display: block;
	color: #232323;
	font-weight: 500;
	font-size: 19px;
	margin: 0 0 13px;
}
.article_wrap .article_contents h3 {
	display: block;
	line-height: 1;
	color: #232323;
	font-size: 17px;
	margin: 0 0 13px;
}
.article_update {
	text-align: right;
	vertical-align: middle;
	margin: 50px 0;
}
.article_wrap .article_contents strong {
	font-weight: 500;
	font-size: 15px;
	color: #232323;
	margin: 0 0 5px;
}
ul, ul li, ol, ol li {
	list-style-type: none;
}
.article_wrap .article_contents ul {
	display: block;
	margin: 9px 0;
}
.article_update span {
	display: inline-block;
	font-size: 12px;
	color: #999;
	vertical-align: middle;
}
a, a:link {
	text-decoration: none;
	color: #232323;
	cursor: pointer;
}
.article_update a {
	vertical-align: middle;
	font-size: 14px;
	color: #232323 !important;
	padding-bottom: 0px;
	margin-left: 9px;
	border-bottom: 1px solid #777;
}
.article_wrap .article_contents a {
	display: inline-block;
	line-height: 1;
	color: #777;
}
.article_wrap .article_contents ul li {
	padding-left: 10px;
	background: url('//img.tourtips.com/images/pc/dest/bullet_ul.gif') no-repeat left 10px;
}
img, fieldset {
	border: 0;
}
.article_wrap img {
	max-width: 100%;
	height: auto;
}
table {
	table-layout: fixed;
}
table, th, td {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
.article_wrap .article_contents table {
	width: 100%;
	max-width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0 0 30px;
}
.article_wrap .article_contents table th, .article_wrap .article_contents table td {
	font-size: 13px;
	
	border-collapse: collapse;
	vertical-align: middle;
	padding: 9px;
	border: 1px solid #dcdddd;
}
.article_wrap .article_contents table th, .article_wrap .article_contents table .odd th {
	font-weight: 500;
	background: #efefef;
}
.article_title {

	margin: 0 0 35px;
	border-bottom: 1px solid #e5e5e5;
}


</style>
