<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.adt.mapper.BoardMapper">

<!-- 게시판전체목록 가져오기 -->
<select id="getList" resultType="org.adt.domain.BoardVO">
		<![CDATA[
		  select * 
		  from(
		  SELECT /*+INDEX_DESC(BOARD PK_BOARD)*/
          ROWNUM RN, BNO, TITLE, B_CONTENT, NICK_NAME, B_CLICKNUM, B_LIKE, REGDATE, UPDATEDATE 
          FROM BOARD 
          WHERE 
		]]>
      	<include refid="criteria"></include>					
		
		<![CDATA[		
			board
			and rownum <= #{pageNum} * #{amount})
			where 	rn > (#{pageNum} - 1) * #{amount}
		]]>
</select>


<!-- 후기전체목록 페이징처리 -->
<select id="reviewWithPaging" resultType="org.adt.domain.BoardVO">
		<![CDATA[
		  select rwonum rn, bno, title, b_content, nick_name, b_clicknum, b_like, regdate, updatedate
		  from(
		  SELECT /*+INDEX_DESC(BOARD PK_BOARD)*/
          ROWNUM RN, BNO, TITLE, B_CONTENT, NICK_NAME, B_CLICKNUM, B_LIKE, REGDATE, UPDATEDATE 
          FROM BOARD 
          WHERE 
		]]>
      	<include refid="criteria"></include>					
		
		<![CDATA[		
			b_type ='2'
			and rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
</select>
<!-- 동행찾기전체목록 페이징처리 -->
<select id="friendWithPaging" resultType="org.adt.domain.BoardVO">
		<![CDATA[
		  select rwonum rn, bno, title, b_content, nick_name, b_clicknum, b_like, regdate, updatedate
		  from(
		  SELECT /*+INDEX_DESC(BOARD PK_BOARD)*/
          ROWNUM RN, BNO, TITLE, B_CONTENT, NICK_NAME, B_CLICKNUM, B_LIKE, REGDATE, UPDATEDATE 
          FROM BOARD 
          WHERE 
		]]>
      	<include refid="criteria"></include>					
		
		<![CDATA[		
			b_type ='2'
			and rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
</select>
<!-- 자유게시판 전체목록 페이징처리 -->
<select id="freeWithPaging" resultType="org.adt.domain.BoardVO">
		<![CDATA[
		  select rwonum rn, bno, title, b_content, nick_name, b_clicknum, b_like, regdate, updatedate
		  from(
		  SELECT /*+INDEX_DESC(BOARD PK_BOARD)*/
          ROWNUM RN, BNO, TITLE, B_CONTENT, NICK_NAME, B_CLICKNUM, B_LIKE, REGDATE, UPDATEDATE 
          FROM BOARD 
          WHERE 
		]]>
      	<include refid="criteria"></include>					
		
		<![CDATA[		
			b_type ='2'
			and rownum <= #{pageNum} * #{amount})
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
</select>

<!-- 조회수 -->
	<select id="addBclickNum">
		<![CDATA[
			update 	board
			set		b_clickNum = (1 + (select b_clickNum from board where bno = #{bno}))
			where 	bno = #{bno}
		]]>
	</select>
	
<!-- 좋아요 -->
	<select id="addLike">
		<![CDATA[
			update 	board
			set		b_Like = (1 + (select b_Like from board where bno = #{bno}))
			where 	bno = #{bno}
		]]>
	</select>

<!-- 게시판작성 -->
<insert id="Insert">
  insert 
  into board(
         b_type,btype_name,member_no, bno, title, b_content, nick_Name
            )
  values (
         #{b_Type},#{bType_Name},#{member_No}, seq_board.nextval, #{title}, #{b_content}, #{nick_Name}
         )
</insert>

<insert id ="InsertSelectKey">
<selectKey keyProperty="bno" order="BEFORE"
   resultType="long">
   select seq_board.nextval from dual
   </selectKey>
  insert 
  into board(
           b_type,btype_name,member_no, bno, title, b_content, nick_Name
           )
  values (
          #{b_Type},#{bType_Name},#{member_No}, seq_board.nextval, #{title}, #{b_content}, #{nick_Name}
          )
   </insert>
   
   <!-- read(select)처리 -->
   <select id="read" resultType="org.adt.domain.BoardVO">
          select * 
          from board 
          where bno= #{bno}
   </select>
   
   <!-- 글삭제-->
   <delete id ="delete">
      delete 
      from board 
      where bno = #{bno}
   </delete>
   
   <!-- 글수정 -->
   <update id="update">
   	<![CDATA[
			update board
			set title = #{title}, b_content = #{b_content}, nick_Name = #{nick_Name}, updateDate = sysdate
			where bno = #{bno}
		]]>
   </update>
   
 </mapper>

