<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.adt.mapper.PlannerReplyMapper">

	<!-- 플래너 댓글 입력 -->
	<insert id="replyWrite">
		<selectKey keyProperty="p_Rno" order="BEFORE"
			resultType="long">
			select seq_planner_reply.nextval from dual
		</selectKey>

		insert into planner_Reply (plan_No, p_Rno, pr_Content, nick_Name, regdate, email)
		values (#{plan_No}, #{p_Rno}, #{pr_Content}, #{nick_Name}, #{regdate}, #{email})
	</insert>
	
	<!-- 플래너 대댓글(답글) 입력 -->
	<insert id="reReplyWrite">
		<selectKey keyProperty="p_Rno" order="BEFORE"
			resultType="long">
			select seq_planner_reply.nextval from dual
		</selectKey>

		insert into planner_Reply (plan_No, p_Rno, pr_Content, nick_Name, regdate, email, up_Prno)
		values (#{plan_No}, #{p_Rno}, #{pr_Content}, #{nick_Name}, #{regdate}, #{email}, #{up_Prno})
	</insert>
	

	
	<!-- 플래너 댓글 가져오기 -->
	<select id="getReplyList" resultType="org.adt.domain.PlannerReplyVO">
		<![CDATA[
			select	/*+ index_desc(planner_reply pk_planner_reply)*/
					plan_No, p_Rno, pr_Content, nick_Name, email, regdate
			from	planner_Reply
			where	plan_No = #{plan_NO} and up_Prno is null
		]]>
	</select>
	
	
	<!-- 플래너 대댓글(답글) 가져오기 -->
	<select id="getReReplyList" resultType="org.adt.domain.PlannerReplyVO">
		<![CDATA[
			select	/*+ index_asc(planner_reply pk_planner_reply)*/
					plan_No, p_Rno, pr_Content, nick_Name, email, regdate, up_Prno
			from	planner_Reply
			where	plan_No = #{plan_NO} and up_Prno is not null
		]]>
	</select>


	<!-- 플래너 댓글 삭제 -->
	<delete id="replyDelete">
		delete	planner_Reply
		where	plan_No = #{plan_No} and p_Rno = #{p_Rno}
	</delete>
	

	<!-- 플래너 댓글 전체 수량 파악 -->
	<select id="totalReplyCount" resultType="int">
		select	count(*)
		from	planner_reply
		where	plan_No = #{plan_NO} and up_Prno is null
	</select>

</mapper>