<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.adt.mapper.PlannerMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") and" prefixOverrides="or">
			<foreach item='type' collection="typeArr">
				<trim prefix="or">
					<choose>
						<when test="type == 'T'.toString()">
							p_Title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							nick_Name like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							planner.city_No = #{keyword}
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 플래너 리스트 가져오기 -->
	<select id="getList" resultType="org.adt.domain.PlannerVO">
		<![CDATA[
			select	* 
			from 	(select
					/*+ index_desc(planner pk_planner)*/
							rownum rn, plan_No, p_Title, city_Name, trip_Period, nick_Name, plan_Like, click_Num
					from 	planner, city
					where	
		]]>
		
		<include refid="criteria"></include>					
		
		<![CDATA[		
							planner.city_No=city.city_No 
							and rownum <= #{pageNum} * #{amount}
		]]>					
					<choose>
						<when test="sortType == 'regdate'.toString()">
							order by plan_No desc
						</when>
						<when test="sortType == 'plan_Like'.toString()">
							order by plan_Like desc
						</when>
						<when test="sortType == 'click_Num'.toString()">
							order by click_Num desc
						</when>
					</choose>
		<![CDATA[
							)
			where 	rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>

	<!-- 플래너 전체 수량 파악 -->
	<select id="totalCount" resultType="int">
		select	count(*)
		from	planner
		where	<include refid="criteria"></include>
				plan_No > 0
	</select>
	

	<!-- 클릭 시 조회수 추가 -->	
	<update id="addClickNum">
		<![CDATA[
			update 	planner
			set		click_Num = (1 + (select click_Num from planner where plan_No = #{plan_No}))
			where 	plan_No = #{plan_No}
		]]>
	</update>
	
	
	<!-- 좋아요 사전 체크여부 판별 -->	
	<select id="check_User" resultType="int">
		<![CDATA[
			select 	count(*)
			from	planner_like
			where 	plan_No = #{plan_No} and email = #{email}
		]]>
	</select>
	
	
	<!-- 플래너 테이블에 좋아요 추가 -->	
	<update id="addLike">
		<![CDATA[
			update 	planner
			set		plan_Like = (1 + (select plan_Like from planner where plan_No = #{plan_No}))
			where 	plan_No = #{plan_No}
		]]>
	</update>
	
	
	<!-- planner_like 테이블에 클릭한 유저 등록 -->	
	<insert id="addLike_insertUser">
		<selectKey keyProperty="like_No" order="BEFORE"
			resultType="long">
			select seq_planner_like.nextval from dual
		</selectKey>
		
		insert	into planner_like
		values	(#{like_No}, #{plan_No}, #{email})
	</insert>


	<!-- 플래너 정보 가져오기 -->	
	<select id="getPlanner" resultType="org.adt.domain.PlannerVO">
		<![CDATA[
			select 	plan_No, p_Title, nick_Name, city_Name, trip_Period, plan_Like, p_Content, click_Num 
			from 	planner, city
			where 	plan_No = #{plan_No} 
					and planner.city_No=city.city_No
		]]>
	</select>






	<insert id="insert">
		<selectKey keyProperty="plan_No" order="BEFORE"
			resultType="long">
			select seq_board.nextval from dual
		</selectKey>

		insert into planner (plan_No, title, content, writer)
		values (#{plan_No},#{title}, #{content}, #{writer})
	</insert>


	<update id="update">
		<![CDATA[
			update planner
			set title = #{title},
				content = #{content},
				updateDate = sysdate
			where plan_No = #{plan_No}
		]]>
	</update>

	<delete id="delete">
		<![CDATA[
			delete from planner
			where plan_No = #{plan_No}
		]]>
	</delete>



</mapper>
