<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.zerock.mapper.PlannerMapper">
     <select id = "getList" resultType="org.adt.domain.PlannerVO">
      <![CDATA[
      select plan_No,p_Title,city_Name,trip_Period,plan_Like,click_Num from planner, city 
      where planner.city_No=city.city_No
      ]]>
    </select>
  
  </mapper>