<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.adt.mapper.PlannerMapper">

	<sql id="criteria">
		<trim prefix="(" suffix=") and" prefixOverrides="or">
			<foreach item='type' collection="typeArr">
				<trim prefix="or">
					<choose>
						<when test="type == 'T'.toString()">
							p_Title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							nick_Name like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							planner.city_No = #{keyword}
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<!-- 플래너 리스트 가져오기 -->
	<select id="getList" resultType="org.adt.domain.PlannerVO">
		<![CDATA[
			select	* 
			from 	(select
					/*+ index_desc(planner pk_planner)*/
							rownum rn, plan_No, p_Title, city_Name, trip_Period, nick_Name, plan_Like, click_Num
					from 	planner, city
					where	
		]]>
		
		<include refid="criteria"></include>					
		
		<![CDATA[		
							planner.city_No=city.city_No 
							and rownum <= #{pageNum} * #{amount}
							and status = 1
		]]>					
					<choose>
						<when test="sortType == 'regdate'.toString()">
							order by plan_No desc
						</when>
						<when test="sortType == 'plan_Like'.toString()">
							order by plan_Like desc
						</when>
						<when test="sortType == 'click_Num'.toString()">
							order by click_Num desc
						</when>
					</choose>
		<![CDATA[
							)
			where 	rn > (#{pageNum} - 1) * #{amount}
		]]>
	</select>

	<!-- 플래너 전체 수량 파악 -->
	<select id="totalCount" resultType="int">
		select	count(*)
		from	planner
		where	<include refid="criteria"></include>
				plan_No > 0 and status = 1
	</select>
	

	<!-- 클릭 시 조회수 추가 -->	
	<update id="addClickNum">
		<![CDATA[
			update 	planner
			set		click_Num = (1 + (select click_Num from planner where plan_No = #{plan_No}))
			where 	plan_No = #{plan_No}
		]]>
	</update>
	
	
	<!-- 좋아요 사전 체크여부 판별 -->	
	<select id="check_User" resultType="int">
		<![CDATA[
			select 	count(*)
			from	planner_like
			where 	plan_No = #{plan_No} and email = #{email}
		]]>
	</select>
	
	
	<!-- 플래너 테이블에 좋아요 추가 -->	
	<update id="addLike">
		<![CDATA[
			update 	planner
			set		plan_Like = (1 + (select plan_Like from planner where plan_No = #{plan_No}))
			where 	plan_No = #{plan_No}
		]]>
	</update>
	
	
	<!-- planner_like 테이블에 클릭한 유저 등록 -->	
	<insert id="addLike_insertUser">
		<selectKey keyProperty="like_No" order="BEFORE"
			resultType="long">
			select seq_planner_like.nextval from dual
		</selectKey>
		
		insert	into planner_like
		values	(#{like_No}, #{plan_No}, #{email})
	</insert>


	<!-- 플래너 정보 가져오기 -->	
	<select id="getPlanner" resultType="org.adt.domain.PlannerVO">
		<![CDATA[
			select 	plan_No, p_Title, nick_Name, city_Name, planner.city_No, trip_Period, plan_Like, p_Content, click_Num, updateDate 
			from 	planner, city
			where 	plan_No = #{plan_No} 
					and planner.city_No=city.city_No 
		]]>
	</select>


	<!-- 플래너 저장 후 플래너 번호 return -->
	<insert id="save">
		insert into planner (plan_No, b_Type, nick_Name, email, p_Title, p_Content, trip_Period, city_No, regdate)
		values (seq_planner.nextval, '1', #{nick_Name}, #{email}, #{p_Title}, #{p_Content}, #{trip_Period}, #{city_No}, to_char(sysdate, 'yyyy.MM.dd'))
		
		<selectKey keyProperty="plan_No" resultType="long" order="AFTER">
			select seq_planner.currval from dual
		</selectKey>
	</insert>


	<!-- 플래너 수정 -->
	<update id="update">
		update planner
		set nick_Name = #{nick_Name},
			p_Title = #{p_Title},
			p_Content = #{p_Content},
			trip_Period = #{trip_Period},
			city_No = #{city_No},
			updateDate = to_char(sysdate, 'yyyy.MM.dd')
		where plan_No = #{plan_No}
	</update>


	<!-- 플래너 작성 페이지에서 게시판에 등록 => status 1로 변경 -->
	<update id="register">
		update planner
		set nick_Name = #{nick_Name},
			p_Title = #{p_Title},
			p_Content = #{p_Content},
			trip_Period = #{trip_Period},
			city_No = #{city_No},
			updateDate = to_char(sysdate, 'yyyy.MM.dd'),
			status = '1'
		where plan_No = #{plan_No}
	</update>
	
	
	<!-- 그냥 플래너 목록 중에서 게시판 등록버튼 클릭 => status 1로 변경 -->
	<update id="">
		update planner
		set nick_Name = #{nick_Name},
			updateDate = to_char(sysdate, 'yyyy.MM.dd'),
			status = '1'
		where plan_No = #{plan_No}
	</update>


	<!-- 플래너 삭제 -->
	<delete id="delete">
		<![CDATA[
			delete from planner
			where plan_No = #{plan_No}
		]]>
	</delete>
	
	
	<!-- 해당 유저의 플래너 정보 가져오기 -->	
	<select id="getUsersPlanner" resultType="org.adt.domain.PlannerVO">
		<![CDATA[
			select 	plan_No, p_Title, nick_Name, city_No, trip_Period, plan_Like, p_Content, updateDate
			from 	planner
			where 	email = #{email} 
		]]>
	</select>
	
	
	
	
	
	



</mapper>
