<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.adt.mapper.ReplyMapper">

<!-- 게시판 댓글 작성 -->

<insert id="replyInsert">
	   <selectKey keyProperty="rno" order="BEFORE"
			resultType="long">
			select seq_reply.nextval from dual
		</selectKey>
  insert 
  into reply(
         rno,b_type, bno,r_content, nick_name, regdate, updatedate,email
           )
  values (
         seq_reply.nextval,#{b_Type},#{bno},#{r_Content}, #{nick_Name}, #{regdate},#{updatedate},#{email}
         )
        
</insert>

<!-- 게시판 대댓글(답글) 입력 -->
	<insert id="reReplyInsert">
		<selectKey keyProperty="rno" order="BEFORE"
			resultType="long">
			select seq_planner_reply.nextval from dual
		</selectKey>

		insert into reply (rno,b_Type,bno, r_Content, nick_Name, regdate, email, up_rno)
		values (seq_reply.nextval, #{b_Type},#{bno}, #{r_Content}, #{nick_Name}, #{regdate}, #{email}, #{up_rno})
	</insert>

</mapper>